*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-icon
{
    width: 35px;
    height: 5px;
    background-color: black;
    transform: translateX(30px);
    margin: 6px 0;
}


.long-bar
{
    background-image: linear-gradient(to green, red, orange, yellow, green, blue, indigo, violet);
}



.copy-rights
{
    background: #393E3A;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    text-align: center;
    letter-spacing: 5px;
    font-family: Verdana;   
}

span
{

}